// Footer

.site-footer {
  @include font-display;
  padding: $padding-md 0;
  margin-top: $padding-md;

  .social {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-right: 10px;
      display: inline-block;
      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      text-decoration: none;
      text-transform: lowercase;
      &:hover,
      &:focus {
        text-decoration: line-through;
      }
    }
  }

  @include media-md {
    @include clearfix;
    padding: $padding-lg 0;
    margin-top: $padding-lg;

    .social {
      float: left;
    }
    .copyright {
      margin: 0;
      float: right;
      padding-left: $beat * 3;
    }
  }
}