{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  <div class="sitewrapper">
    <div class="grid spaced">
      {% if entry.images | length %}
        {% set images = entry.images.all() %}
        {% set image = random(images) %}
        <figure class="about-image single-image col-md-1-2">
          <img src="{{ image.getUrl }}" alt="{{ image.title }}">
          {% if image.caption %}
            <figcaption>
              <p>{{ image.caption }}</p>
            </figcaption>
          {% endif %}
        </figure>
      {% endif %}

      {% if entry.textArea %}
        {% cache %}
          <div class="col-md-1-2">
            <div class="bio field-text">
              {{ entry.textArea }}
            </div>

            {% if entry.colophon | length %}
              <div class="colophon">
                <h4>Colophon</h5>
                {{ entry.colophon }}
              </div>
            {% endif %}
          </div>
        {% endcache %}
      {% endif %}
    </div>
  </div>
{% endblock %}