// Mixins

// Ye olde clearfix
@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

// Highlight
@mixin highlight($highlight: 'highlight', $speed: .2s) {
  position: relative;
  text-decoration: none;
  &::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 2px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    background-color: color($highlight);
    transition: transform 0.25s ease-out;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scaleX(1);
    }
  }
}

// Inline Links
@mixin inline-link($highlight: 'highlight', $speed: .2s) {
  display: inline;
  font-weight: 700;
  line-height: 1.45;
  position: relative;
  text-decoration: none;
  background: linear-gradient(to left, transparent, transparent 50%, lighten(color('offblack'), 75%) 50%, lighten(color('offblack'), 75%));
  background-size: 201%;
  background-position: 100%;
  box-shadow: 0 2px 0 0 color('offBlack');
  transition: color 0.15s ease-out, background-position 0.25s ease-out, box-shadow 0.15s ease-out;
  &:hover {
    box-shadow: 0 2px 0 0 color('highlight');
    background-position: 0;
  }
}

// Smooth text
@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Responsive mixins by Andy Richardson (@andimal): https://github.com/andimal/sass-responsive-mixin-madness
@mixin media-xs() {
  @media screen and (max-width: $breakpoint-sm - 1) {
    @content;
  }
}
@mixin media-sm() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin media-md() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin media-lg() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin media-nav() {
  @media screen and (min-width: $breakpoint-nav) {
    @content;
  }
}
@mixin media-xl() {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

// On-the fly media-queries
@mixin screen($res-min, $res-max) {
  @media screen and (min-width: $res-min) and (max-width: $res-max) {
    @content;
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res - 1px) {
    @content;
  }
}
@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}