// Typography

// @font-face
// fonts loaded in fonts.css file

// Font-family mixins
/// example:
/// @mixin font-display {
///   font-style: normal;
///   font-weight: normal;
///   font-family: 'Custom Font Family';
/// }
@mixin font-main {
  font-weight: normal;
  font-family: 'Degular Text', Georgia, serif;
  font-feature-settings: "pnum", "tnum" 0, "lnum", "onum" 0;
}
@mixin font-display {
  font-weight: normal;
  color: color('offblack');
  font-family: 'Degular Display', Georgia, serif;
  font-feature-settings: "pnum", "tnum" 0, "lnum", "onum" 0;
}

/// Mixin to allow us to concisely define all aspects of a paragraph style (except for family.)
/// @param {number} $size - Font size specified in pixels (without 'px')
/// @param {number} $lh - Line height specified in pixels (without 'px')
/// @param {number} $ls [0em] - Letter spacing
/// @param {number or string} $w [normal] - Font weight
/// @param {string} $tt [none] - Text transform
/// @example scss - Used as a shortcut in defining a paragraph style...
///   @mixin h1 {
///     @include font-display; // The font face
///     @include paragraph-style (12, 16, $ls: .075em, $tt: uppercase); // Other properties
///   }
@mixin paragraph-style ($size, $lh, $ls: 0em, $w: normal, $tt: none) {
  font-size: #{$size}px;
  line-height: ($lh / $size);
  letter-spacing: $ls;
  text-transform: $tt;
  font-weight: $w;
}

// Type Style Mixins + Classes
/// example:
/// @mixin h1 {
///   @include font-display;
///   @include paragraph-style(31, 40, -.010322581em);
///   @include media-md {
///     @include paragraph-style(96, 96, -.005208333em);
///   }
/// }
/// .h1 {
///   @include h1;
/// }

@mixin h1 {
  @include font-display;
  @include paragraph-style(32, 40, 0, 700);
}
.h1 {
  @include h1;
}

@mixin h2 {
  @include font-main;
  @include paragraph-style(18, 26, 0, 700);
}
.h2 {
  @include h2;
}

@mixin type-huge {
  @include font-main;
  @include paragraph-style(48, 48, -0.01em, 700);
  @include media-md {
    @include paragraph-style(74, 74, -0.01em, 700);
  }
}
.type-huge {
  @include type-huge;
}

@mixin p1 {
  @include font-main;
  @include paragraph-style(16, 24);
}
.p1 {
  @include p1;
}

@mixin p2 {
  @include font-main;
  @include paragraph-style(12, 16);
}
.p2 {
  @include p2;
}

@mixin p3 {
  @include font-main;
  @include paragraph-style(18, 24);
}