// Photography

.horizontal-gallery {
  figure {
    margin: 0;
    vertical-align: top;
    display: inline-block;
    padding: $padding-sm 0;

    a {
      display: block;
    }

    figcaption {
      padding-top: $beat;
      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }

  @include media-md {
    padding: 1px 0; // needed for weird y overflow issue
    overflow-x: auto;
    position: relative;

    > .-inner {
      white-space: nowrap;
    }

    figure {
      padding: $padding-lg 0;
      + figure {
        padding-left: 100px;
      }

      img {
        display: block;
        max-height: 75vh;
      }
    }
  }
}

.image-grid {
  display: grid;
  grid-gap: 10px 0;

  figure {
    margin: 0;
    position: relative;

    img {
      display: block;
    }

    figcaption {
      left: $beat;
      bottom: $beat;
      color: color(white);
      position: absolute;
      mix-blend-mode: difference;
      p {
        margin: 0;
      }
    }
  }

  @include media-md {
    grid-gap: 0;
    width: calc(100% + #{$beat});

    figure {
      &::before {
        top: 0;
        right: 0;
        z-index: 1;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        border-right: $beat solid color(offwhite);
        border-bottom: $beat solid color(offwhite);
      }

      &.medium {
        grid-column: span 2;
      }
      &.large {
        grid-column: span 3;
      }
      &.tall-2-3 {
        grid-row: span 2;
        grid-column: span 2;
      }
    }
  }
}