// Web Page

body.web-page {
  .web-projects {
    .project {
      margin-bottom: $padding-md;

      .project-title {
        a {
          @include underline();
          text-decoration: none;
        }
      }
    }

    @include media-md {
      .project {
        margin-bottom: $padding-lg;
      }
    }
  }
}