{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  {% if entry.horizontalGallery %}
    {% set images = entry.horizontalGallery.all() %}

    <div class="horizontal-gallery">
      <div class="-inner">
        {% for image in images %}
          <figure>
            <a href="{{ image.url }}" target="_blank">
              <img src="{{ image.url }}" alt="{{ image.title }}">
            </a>
            {% if image.caption %}
              <figcaption><p>{{ image.caption }}</p></figcaption>
            {% endif %}
          </figure>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
