//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include p1;
  color: color('black');
	background: color('offwhite');
}

::selection {
  color: color('white');
  background: color('highlight');
}

a {
	color: inherit;
}

.field-text a,
.inline-link {
  @include inline-link;
}

img {
  height: auto;
	max-width: 100%;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  padding: 0 $padding-sm;
  max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-lg;
  }
}

.main {
  padding-top: $padding-md;

  @include media-md {
    padding-top: 0;
  }
}