// Common
// components/blocks

// Lazyloaded Images
.grid-image {
  opacity: 0;
  &.-loaded {
    opacity: 1;
    transition: opacity .35s ease-out;
  }
}

// Image reveals
.-reveal {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: opacity 1s ease-out, transform 0.5s ease-out;

  @include media-md {
    transform: translate3d(0, 60px, 0);
  }

  &.-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

figure.single-image {
  margin: 0;
  padding: 0;

  figcaption {
    padding: $beat 0;
    p {
      margin: 0;
      font-size: 12px;
    }
  }
}

// Image Overlay
.image-overlay {
  display: block;
  overflow: hidden;
  position: relative;

  img {
    transform: scale(1);
    transition: transform 12s ease-out;
  }

  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: opacity .5s ease-out;
    background-color: rgba(color('highlight'),.75);

    .overlay-text {
      overflow: hidden;
      display: inline-block;
    }

    span {
      @include h1;
      color: color('white');
      display: inline-block;
      transform: translateY(100%);
      transition: transform .35s ease-out;
    }
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.1);
    }
    .overlay {
      opacity: 1;
      span {
        transform: none;
        background-size: 100% 100%;
      }
    }
  }
}

.smiley-background {
  fill: color('white');
}
.smiley-face {
  fill: color('black');
}
// Smileys
.new-smiley {
  z-index: 10;
  width: 30px;
  height: 26px;
  position: fixed;
  cursor: not-allowed;
  animation: fadeIn .25s both;
  .smiley-face {
    mix-blend-mode: hard-light;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}