// Header

.site-header {
  z-index: 10;
  position: relative;

  > .sitewrapper {
    z-index: 1;
    display: flex;
    position: relative;
    padding-bottom: $beat;
    padding-top: $padding-md;
    justify-content: space-between;
    &::before {
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: color('white');
    }
  }

  .site-headline {
    z-index: 2;
    position: relative;

    .site-title {
      @include h1;
      margin: 0;

      a {
        display: block;
        text-decoration: none;
        transition: color .2s ease-out;
        &:hover,
        &:focus {
          outline: none;
          color: color('highlight');
        }
      }
    }

    .tagline {
      margin: 0;
      @include p1;
    }
  }


  @include media-md {

    > .sitewrapper {
      align-items: baseline;
      padding-top: $padding-md;
      padding-bottom: $padding-md + $beat;
    }
  }
}

// Nav Toggle
#nav-toggle {
  @extend .button-reset;
  @include font-display;
  padding: 0;
  z-index: 1;
  bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  right: $padding-sm;
  position: absolute;
  &:hover {
    color: color('highlight');
  }

  @include media-md {
    display: none;
  }
}

// Navigation
.site-nav {
  left: 0;
  top: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
  background-color: color('white');
  transform: translate3d(0,-100%,0);
  padding: $padding-sm $padding-sm $padding-md;
  transition: transform .35s cubic-bezier(0.77, 0, 0.175, 1);

  &.-active {
    transform: translate3d(0,0,0);
  }

  ul {
    @extend .semantic-list;
  }

  li {
    + li {
      margin-top: 0.25em;
    }
    &.-current {
      a {
        &::before {
          transform: none;
        }
      }
    }
  }

  a {
    @include highlight;
    @include font-display;
    font-size: 22px;
    text-decoration: none;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  @include media-md {
    top: auto;
    z-index: 1;
    padding: 0;
    left: auto;
    flex: 1 1 0;
    width: auto;
    transform: none;
    text-align: right;
    position: relative;

    ul {
      display: inline-block;
    }

    li {
      display: inline-block;

      + li {
        margin-top: 0;
        margin-left: $beat;
      }
    }
  }
}