// Page Blocks

blockquote {
  margin: $padding-lg 0;

  &.align-right {
    padding-left: $padding-sm;
  }

  &.colored {
    p span {
      color: color('white');
      background-color: color('highlight');
      box-shadow: 0.1em 0 0 color('highlight'), -0.1em 0 0 color('highlight');
    }
  }

  p {
    margin: 0;
    font-size: 32px;
    line-height: 1.1;
  }

  cite {
    display: block;
    font-size: 18px;
    margin-top: $padding-sm;
  }

  @include media-md {
    margin: #{$padding-lg * 2} 0;

    p {
      font-size: 46px;
    }

    cite {
      font-size: 24px;
    }

    &.small {
      width: columns(1,3);
      &.spacing-1-3 {
        margin-left: columns(1,3);
      }
      &.spacing-2-3 {
        margin-left: columns(2,3);
      }
    }
    &.medium {
      width: columns(2,3);
      &.spacing-1-3 {
        margin-left: columns(1,3);
      }
    }
    &.large {
      width: 100%;
    }
  }
}