// About Page

body.about-page {
  .bio {
    margin-top: $padding-sm;

    p {
      @include p3;
      margin-top: 0;
    }

    @include media-md {
      margin-top: 0;
    }
  }

  .music {
    margin-top: $padding-lg;

    iframe {
      max-width: 300px;
    }
  }

  .colophon {
    border-radius: 4px;
    padding: $padding-sm;
    margin-top: $padding-lg;
    background-color: rgba(color('black'), .1);

    h4 {
      @include h2;
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }

    a {
      @include inline-link;
    }
  }
}