// Home page

body.home {
  .project-grid {
    .grid-item {
      a {
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }

    @include media-md {
      @include clearfix;

      .grid-item {
        padding: 0;
        position: relative;
        &::before,
        &::after {
          top: 0;
          bottom: 0;
          z-index: 2;
          content: '';
          width: $beat * 2;
          position: absolute;
          background-color: color('white');
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
        &:nth-of-type(4n + 3) {
          float: right;
        }

        &.small {
          width: 33.33%;
        }
        &.medium {
          width: 66.6%;
        }
      }

      // Alt Layout
      &.alt-layout {
        .grid-item {
          &:nth-of-type(2n + 1) {
            float: right;
          }
          &:nth-of-type(4n + 3) {
            float: left;
          }
        }
      }
    }
    @include media-lg {
      .grid-item {
        &::before,
        &::after {
          width: $beat * 3;
        }
      }
    }
  }
}