<!doctype html>
<!-- 💩 Hey code nerd! While you're here drop me a line and let me know how I did it wrong: matt.m.soria@gmail.com -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if entry is not defined %}404: Page Not Found{% else %}{% if entry.title != 'Homepage' %}{{ entry.title }}{{ entry.section.handle == 'photography' ? ' Photography' : '' }} | Matt Soria{% else %}Matt Soria | {{ tagline.textField }}{% endif %}{% endif %}</title>

    <link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">
    <meta name="google-site-verification" content="clcwIm8zAwhSWBVXOhz9UBllB3mZpdOAXeoL2AaCZQc">
    <meta name="p:domain_verify" content="54d124bc9c4618cfe38edde207b08e55">

    <link rel="preload" href="/assets/dist/fonts/GT-Pressura-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ rev('/styles/main.css') }}">
    <link rel="shortcut icon" type="image/ico" href="{{ rev('/images/favicon.png') }}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if entry is defined and entry.seoDescription | length -%}
    <meta name="description" content="{{ entry.seoDescription }}">
    {% elseif seo.seoDescription | length -%}
    <meta name="description" content="{{ seo.seoDescription }}">
    {% endif -%}
    <meta property="og:title" content="{% if entry is not defined %}404: Page Not Found{% else %}{% if entry.title != 'Homepage' %}{{ entry.title }}{{ entry.section.handle == 'photography' ? ' Photography' : '' }} | Matt Soria{% else %}Matt Soria | {{ tagline.textField }}{% endif %}{% endif %}">
    <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">

    {% if entry.seoImage is defined and entry.seoImage | length -%}
    {% set transformedImage = craft.imager.transformImage(entry.seoImage.one(), { width: 1200, height: 630, mode: 'crop' }) -%}
    <meta property="og:image" content="{{ transformedImage.getUrl() }}">
    <meta property="og:image:type" content="image/jpeg">
    {% elseif seo.seoImage | length -%}
    {% set transformedImage = craft.imager.transformImage(seo.seoImage.one(), { width: 1200, height: 630, mode: 'crop' }) -%}
    <meta property="og:image" content="{{ transformedImage.getUrl() }}">
    <meta property="og:image:type" content="image/jpeg">
    {% endif -%}

    <!-- Inject SVGs Defs for SVG icon use -->
    <script>
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "{{ rev('/svgs-defs.svg') }}", true);
      ajax.send();
      ajax.onload = function(e) {
        var div = document.createElement("div");
        div.className += "svg-defs hidden";
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-20365223-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body class="{% if bodyClass is defined %}{{ bodyClass }}{% else %}{{ craft.app.request.getSegment(1)}}-page{% endif %}" id="{% if bodyId is defined %}{{ bodyId }}{% else %}{{ craft.app.request.getSegment(1)}}-page{% endif %}">
    <div id="breakpoint-indicator"></div>

    <header class="site-header" role="banner">
      <div class="sitewrapper">
        <div class="site-headline">
          <h1 class="site-title"><a href="{{ siteUrl }}">matt soria</a></h1>
          {% if tagline.textField %}
            <p class="tagline">{{ tagline.textField }}</p>
          {% endif %}
        </div>
        {% include '/partials/_nav' %}
      </div>
    </header>

    <main class="main" role="main">
      <div class="sitewrapper">
        {% block content %}{% endblock %}
      </div>
    </main> <!-- END .main -->

    {% include "/partials/_footer" %}

    <script src="{{ rev('/scripts/manifest.js') }}"></script>
    <script src="{{ rev('/scripts/vendor.js') }}"></script>
    <script src="{{ rev('/scripts/main.js') }}"></script>
  </body>
</html>