{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
<!--   {% if entry.textArea %}
    {{ entry.textArea }}
  {% endif %} -->

  {% if entry.featureGrid|length %}
    <div class="image-grid">
      {% for image in entry.featureGrid.all() %}
        {% set imageFile = image.imageFile.one() %}
        {% set transformedImage = '' %}
        {% if image.size == 'small' %}
          {% set transformedImage = craft.imager.transformImage(imageFile, { width: 900 }, { ratio: 4/5 }) %}
        {% elseif image.size == 'tall-2-3' %}
          {% set transformedImage = craft.imager.transformImage(imageFile, { width: 1600 }, { ratio: 4/5 }) %}
        {% elseif image.size == 'medium' %}
          {% set transformedImage = craft.imager.transformImage(imageFile, { width: 1600 }, { ratio: 8/5 }) %}
        {% else %}
          {% set transformedImage = craft.imager.transformImage(imageFile, { width: 1800 }) %}
        {% endif %}
        <figure class="{{ image.size }}">
          {% if image.portfolioPage %}
          <a href="{{ image.portfolioPage.one().url }}" class="image-overlay">
            <div class="overlay"><div class="overlay-text"><span>{{ image.portfolioPage.one().title|lower }}</span></div></div>
          {% endif %}
          <img src="{{ transformedImage.getUrl() }}" alt="{{ image.imageFile.one().title }}">
          {% if image.portfolioPage %}
          </a>
          {% endif %}
        </figure>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}